@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Pricedown';
  src: url('/fonts/pricedown bl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crackman';
  src: url('/fonts/Crackman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GameOfThrones';
  src: url('/fonts/Game of Thrones.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KnightWarrior';
  src: url('/fonts/KnightWarrior-w16n8.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MP16';
  src: url('/fonts/MP16SC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Add your additional font imports here */

@keyframes morph {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.98);
  }
}

.animate-morph {
  animation: morph 3s infinite;
}
